@attribute [Authorize]
@page "/identities/create"
@using Microsoft.AspNetCore.Authorization
@using AccessControl.AppService
@using AccessControl.AppService.Contracts
@inject IIdentitiesClient IdentitiesClient
@inject IUriHelper UriHelper

<h1>Create identity</h1>

<p>Enter information.</p>

<div>
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="Name" @bind="@Name" />
        <small id="NameHelp" class="form-text text-muted">Enter a name for this identity.</small>
    </div>
    <button class="btn btn-primary" @onclick="@OnCreateButtonClicked">Create</button>
</div>

@functions {
    string Name { get; set; }

    string CardNo { get; set; }

    protected async Task OnCreateButtonClicked()
    {
        var createidentity = new Identity
        {
            Name = Name,
            //Credentials = new List<Credential> {
            //    = CardNo.Split(',').Select(x => byte.Parse(x.Trim())).ToArray()
            //};
        };
        try
        {
            await IdentitiesClient.PostAsync(createidentity);
        }
        catch (Exception exc)
        {
            Console.WriteLine(exc);
        }
        UriHelper.NavigateTo("/identities");
    }
}