@attribute [Authorize]
@page "/identities"
@using Microsoft.AspNetCore.Authorization
@using AppService

@inject IIdentitiesClient IdentitiesClient

<h1>Identities</h1>

<a href="/identities/create">Create Identity</a>

<p>List of all identitites.</p>

@if (identities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var identity in identities)
            {
                <tr>
                    <td><a href="/identities/@identity.Id">@identity.Name</a></td>
                    <td>@identity.Id</td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
    IEnumerable<Identity> identities;

    protected override async Task OnInitializedAsync()
    {
        identities = await IdentitiesClient.GetAllAsync();
    }
}
